label.required:after {
	content: " *";
	color: red;
}

.clickable-row {
	cursor: pointer;
}

.img {
background-image : url('resources/img/glyphicons-17-bin.png');	
}

#logo {
    background-image:url("resources/img/SSTlogo.png");
}
.fa{
	color:black;
}
.fa fa-sign-out{
	color:#FFFFFF;
}
